<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Adiciona Produto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-label position="floating">Nome do Produto</ion-label>
    <ion-input [(ngModel)]="nome" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Quantidade</ion-label>
    <ion-input [(ngModel)]="quantidade" type="number"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="addProduto()">ADICIONAR</ion-button>

  <h2>Produtos: {{listaProduto.length}}</h2>

  <div *ngFor="let produto of listaProduto">

    <ion-card *ngIf=" produto.nome">
      <ion-card-header>
        <ion-card-title>{{produto.nome}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Quantidade: {{produto.quantidade}}
      </ion-card-content>

      <ion-button id="present-alert" (click)="exibirAlerta(produto.nome, produto.quantidade, produto)">Editar produto</ion-button>
      <ion-button (click)="excluirProduto(produto)" color="danger">Excluir</ion-button>
    </ion-card>

    <ion-toast trigger="open-toast" message="This toast will disappear after 5 seconds" [duration]="5000"></ion-toast>

  </div>



</ion-content>
